body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
  }

  header {
    width: 1000px;
    background-color: #000;
  }

  header img {
    width: 100%;
    height: auto;
    display: block;
  }

  .produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }

  .produto {
    background-color: #1a1a1a; /* Preto suave */
    border: 2px solid #ff4500; /* Laranja fogo */
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.5); /* Brilho laranja */
  }

  .produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .preco {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffcc00; /* Amarelo vibrante */
    font-weight: bold;
  }